html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(63, 63, 63);
}

body {
    margin: 0;
}

#images {
    display: none;
}
